html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Onest Variable", system-ui, sans-serif;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

td{
    font-size: 12px
}

.floating-banner {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #6EAA39;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.floating-banner .icon {
    background-color: #6EAA39;
    padding: 10px;
    border-radius: 50%;
    margin-left: auto;
}

.floating-banner .icon img {
    height: 20px;
}

.leaflet-popup-content-wrapper {
    padding: 2px !important; 
    border-radius: 8px !important; 
}

.leaflet-popup-content {
    margin: 0px !important; 
}

.leaflet-control-zoom {
    background-color: #6EAA39 !important; 
    border: none !important;
    border-radius: 5px !important;
    overflow: hidden !important; 
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    width: 30px !important; 
    height: 30px !important; 
    line-height: 30px !important; 
    text-align: center !important; 
    background-color: #6EAA39 !important; 
    color: white !important; 
    font-size: 18px !important; 
    cursor: pointer !important;
    border: none !important; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
    background-color: #5C9932 !important; 
    transform: scale(1.1);
}

.leaflet-control-layers {
    background-color: #6EAA39 !important; 
    border: none;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.leaflet-control-layers label {
    color: white; 
}

.leaflet-control-layers input[type="checkbox"] {
    accent-color: #FFFFFF; 
}

.leaflet-control-layers label:hover {
    background-color: #5C9932; 
    cursor: pointer;
}

.legend-toggle-btn {
    position: fixed !important;
    background-color: #6EAA39;
    cursor: pointer !important;
    bottom: 20px;
    right: 0px;
    width: 40px;
    height: 40px;
    display: flex !important;
    border: 0px !important;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
    z-index: 100;
}

.legend-toggle-btn:hover {
    background-color: #5C9933;
    transform: scale(1.1);
}

.custom-legend {
    position: fixed;
    bottom: 10px;
    right: 60px;
    margin: 0px !important;
    background-color: #6EAA39;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.custom-legend hr {
    border: 1px solid white;
}

.custom-legend i {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

.custom-legend.show {
    display: block;
}

.info.legend h5 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
    text-align: center;
}

.info.legend h4 {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;    
}

/* Estilos para el botón de restablecer vista */
.home-button {
    background-color: #6EAA39;
    cursor: pointer !important;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px; 
}

/* Hover para el botón */
.home-button:hover {
    background-color: #5C9933;
    transform: scale(1.1);
}

/* Estilo del icono del botón */
.home-icon {
    width: 21px;
    height: 21px;
}