html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.floating-banner {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #6DBC82;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.floating-banner .icon {
    background-color: #244F36;
    padding: 10px;
    border-radius: 50%;
    margin-left: auto;
}

.floating-banner .icon img {
    height: 20px;
}

/* Eliminar el borde y los márgenes del popup de Leaflet */
.leaflet-popup-content-wrapper {
    padding: 2px !important; /* Elimina el margen interno */
    border-radius: 8px !important; /* Ajusta el borde para que sea más pequeño */
}

.leaflet-popup-content {
    margin: 0px !important; /* Elimina el margen adicional */
}
